*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    /* font families */
    --ff-primary:"Martian Mono";
    --ff-secondary:"inter";

    /* font weights */
    --fw-bold:bold;
    --fw-semibold:600;
    --fw-reg:300;


    /* colours */
    --clr-neutral900:#062630;
    --clr-neutral700:#385159;
    --clr-neutral200:#e6e1df;
    --clr-neutral100:#faf5f3;
    --clr-neutral100:#faf5f3;
    --clr-neutral0:#ffffff;
    --clr-lightsalmon500:#fea36f;
    --clr-lightsalmon100:rgb(255,226,209);
    --clr-lightsalmon50:rgb(255,245,239);
    --clr-textgradient:linear-gradient(107deg,#ff9a60 -11.37%, #062630 61.84%);
    --clr-gradient:linear-gradient(90deg,#ffe2d1 0%, #fff5ef 100%);

    /* font sizes */

    --fs-h1:62px;
    /* --fs-h1mobile:38px; */
    --fs-h2:50px;
    /* --fs-h2mobile:34px; */
    --fs-h3:34px;
    --fs-h4:24px;
    --fs-h5:20px;
    --fs-h6:18px;
    --fs-p:14px;
    

    /* line height */

    --lh120: 120%
    --lh130: 130%;
    --lh110: 110%;
    --lh140:140%;

    /* letter spacing */

    --ls-1:-1px;
    --ls-0_5:-0.5px;
    --ls-2:-2px;
}
@media (max-width:768px){

    :root{
        --fs-h1:38px;
        --fs-h2:34px;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
h1{
    font-size: initial;
    display: block;
}
html {
	scroll-behavior: smooth;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
ul {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    unicode-bidi: isolate;
}
body{
    background-color: var(--clr-textgradient);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}
div {
    display: block;
    unicode-bidi: isolate;
}
img{
    max-width:100%;
    overflow-clip-margin: content-box;
    overflow: clip;
   
}
button {
    min-height: 64px;
    border: 2px #062630 solid;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    color: #062630;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex
;
    align-items: center;
    padding-inline: 24px;
    letter-spacing: -1px;
    line-height: 130%;
    justify-content: center;
}
.title-heading{
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: transparent;
    line-height: var(--lh120);
    letter-spacing: var(--ls-2);
    margin: 0;
    background: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    background-clip: text;
}
.header-img{
    position: absolute;
    top: 20px;
    left: 350px;
    width: auto;

}
.avatar-image{
    width: 110px;
    height: 40px;
}
.developer-count{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 12px;
}
.developer-count-text{
    font-family: var(--ff-primary);
    color: var(--clr-neutral700);
    margin: 0;
    display: block;
    padding-bottom: 22.5px;
}
.star-icons{
    display: flex;
    width: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;
}
.subtitle-top{
   
    margin-top:24px;
    margin-bottom:32px;
}
.title-section{
    padding-right:40px;
    padding-top: 48px;

}
.container{
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 66px;
    padding-left: 16px;
    background-image: url(../assets/images/pattern-light-bg.svg);
}
.subtitle-text{
    color: var(--clr-neutral700);
    font-size: var(--fs-h5);
    line-height: var(--lh140);
    letter-spacing: var(--ls-0_5);
    font-family: var(--ff-secondary);
}
.button-membership{
    background-color: var(--clr-neutral100);
    background: no-repeat linear-gradient(90deg, #FFE2D1, #FFF5EF);
    color: var(--clr-neutral900);
    font-family: var(--ff-primary);
    font-size: var(--fs-p);
    font-weight: var(--fw-semibold);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px var(--clr-neutral900) solid;
    align-items: center;
    padding: 0;
    display: flex;
}

.button-membership a{
    text-decoration: none;
    color: var(--clr-neutral900);
}

.button-membership:hover{
    background-color: var(--clr-lightsalmon500);
}
.img-example-title{
    border-radius: 12px;
    
}
.section-2{
    margin-top: 64px;
    padding-right: 16px;
    margin-bottom: 64px;
    padding-left: 16px;
}
.section-2-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh130);
    letter-spacing: var(--ls-2);
}
.section-2-list{
    display: grid;
    gap: 24px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: var(--clr-neutral700);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h5);
    letter-spacing: var(--ls-0_5);
    line-height: var(--lh140);
    list-style: none;
    padding: 0;
}
.section-2-list li{
    padding: 0 0 0 42px;
    margin: 0;
    display: list-item;
    background-image: url(../assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center left;
}
.img-example-read-toether{
    height: fit-content;
    border-radius: 12px;
}
.section-3{    
    margin-top: 120px;
    padding-right: 16px;
    margin-bottom: 120px;
    padding-left: 16px;
}
.section-3-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh130);
    letter-spacing: var(--ls-2);
}
.circle-img{
    width: 125px;
    position: absolute;
    left: 0px;
}
.section-3-text{
    font-family: var(--ff-secondary);
    font-size: var(--fs-h5);
    color: var(--clr-neutral700);
    line-height: var(--lh140);
    letter-spacing: var(--ls-0_5);
    margin-top: 24px;
    margin-bottom:27px;
}
.bold-small-text{
    font-weight: var(--fw-semibold);
}
.img-example-section-3{
    border-radius: 12px;
}
.img-tech-logos{
    position: absolute;
    left: auto;
    right: 50px;
}
.section-4{    
    margin-top: 120px;
    padding-right: 16px;
    margin-bottom: 120px;
    padding-left: 16px;
}
.section-4-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh130);
    letter-spacing: var(--ls-2);
    margin: 0;
}
.section-4-container{
    padding: 80px 60px;
    width: 100%;
    min-height: fit-content;
    background-image: url(../assets/images/pattern-light-bg.svg);
    background-color: #FAF5F3;
    border-radius: 12px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.number-headings{
    width: 40px;
    height: 40px;
    color: var(--clr-neutral900);
    border: 2px var(--clr-neutral900) solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    letter-spacing: var(--ls-1);
    line-height: 24px;
    font-size: var(--fs-h4);
    font-weight: var(--fw-reg);
    margin-top: 64px;
    padding: 0;
}
.section-4-list{
    font-weight: var(--fw-semibold);
    font-size: var(--fs-h6);
    line-height: var(--lh130);
    font-family: var(--ff-primary);
    color: var(--clr-neutral900);
}
.section-5{    
    margin-top: 120px;
    padding-right: 16px;
    margin-bottom: 120px;
    padding-left: 16px;
}
.section-5-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh130);
    letter-spacing: var(--ls-2);
    margin: 0;
}
.section-5-list{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 970px;
    gap: 24px;
    align-items: center;
}
.section-5-list1{
    width: 100%;
    border: 1px solid #E6E1DF;
    height: fit-content;
    border-radius: 8px;
    background-color:transparent ;
    box-sizing: border-box;
    padding: 24px;
    position: relative;
    overflow: hidden;
}
.list-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh110);
    letter-spacing: var(--ls-1);
    margin: 0;
    padding: 0;
}
.price{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral900);
    line-height: var(--lh110);
    letter-spacing: var(--ls-1);
}
.month{
    color: #385159;
    font-family: Inter;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    margin-left: -15px;
}
.line-break{
    border-bottom: 1px solid #E6E1DF;
    margin-block: 24px;
}
.list-options{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}
.option-explain{
    padding: 0 0 0 42px;
    margin: 0;
    display: list-item;
    background-image: url(../assets/images/icon-check.svg );
    background-repeat: no-repeat;
    background-position: center left;
    font-family: Inter;
    color: #385159;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 140%;
}
.buttonlight{
    width: 100%;
    padding-inline: 0;
    margin-top: 24px;
    z-index: 1;
    position: relative;
    background: no-repeat linear-gradient(90deg, #FFE2D1, #FFF5EF);
    background-position-x: -400px;
    transition: 200ms;
    background-color: #FFF5EF
}
.pro-clr{
    background: linear-gradient(107deg, var(--clr-lightsalmon50) -60.37%, var(--clr-neutral700) 500.84%);;
}
.section-6{    
    margin-top: 120px;
    padding-right: 16px;
    margin-bottom: 64px;
    padding-left: 16px;
}
.section-6-stars{
    display: flex;
    margin: 0 0 32px 0;
}
.section-6-text{
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    color: var(--clr-neutral900);
    line-height: var(--lh130);
    letter-spacing: var(--ls-1);
    margin: 0;
    font-weight: var(--fw-semibold);
}
.p1{
    color: var(--clr-neutral700);
    font-size: var(--fs-h5);
    line-height: var(--lh140);
    letter-spacing: var(--ls-0_5);
    font-family: var(--ff-secondary);
}
.footer{
    min-height: fit-content;
    width: 100%;
    background-color: var(--clr-neutral900);
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/pattern-dark-bg.svg);
    padding: 0 16px;
}
.footer-title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral0);
    line-height: var(--lh130);
    letter-spacing: var(--ls-2);
    margin-top: 48px;
    max-width: 685px;
    text-align: center;
}
.button-membership-2{
    background-position-x: 0%;
    border-color: white;
    color: white;
    gap: 16px;
    background: linear-gradient(90deg, #385159, #062630);
    background-position-x: -400px;
    transition: 200ms;
    font-size: 16px;
    margin-bottom: 24px;
}
.button-membership-2:hover{
    background-position-x: 0%;
    color: white;
}
.button-membership-2 a{
    text-decoration: none;
    color: white;
}

.avatar-image2{
    width: 110px;
    height: 40px;
}
.developer-count2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 12px;
}
.developer-count-text2{
    font-family: var(--ff-primary);
    color: var(--clr-neutral0);
    margin: 0;
    display: block;
    padding-bottom: 22.5px;
    text-align: center;
}
.star-icons2{
    display: flex;
    width: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-section-1{
    margin-bottom: 64px;
}
.p1-5{
    color: var(--clr-neutral0);
    font-size: var(--fs-h6);
    line-height: var(--lh140);
    letter-spacing: var(--ls-0_5);
    font-family: var(--ff-secondary);
}
.footer-section-2{
    height: 70px;
    border-top: 1px #385159 solid;
    display: flex;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    padding: 32px;
    box-sizing: border-box;
}
.footer-section-2-logos{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
}